<div class="section-header" id="blog-home-header">
  <h1> 毛豆网博客 - 让我们共同进步</h1>
</div>
<%= render partial: "blog", locals: {blog: @blog} %>

<div class="container">
  <div class="blog-comment-area blue-top-box">
    <h2 class="comments-header">
      <i class="fa fa-comments"></i> <%= t("comments") %>
    </h2>
    <div class="comments-list">
      <% @blog.comments.each do |c| %>
        <%= render partial: "comments/comment", locals: {comment: c} %>
      <% end %>
    </div>
    <% if current_user %>
      <%= render partial: "comments/new_comment_form", locals: {commentable: @blog} %>
    <% else %>
      <div class="login-to-comment">
        <%= link_to t("login_and_comment"), login_path(:return_to => request.url) %>
      </div>
    <% end %>
  </div>
</div>