<div class="maincontainer">
  <nav class="site-nav">
    <div class="site-nav-scrollable-container">
      <ul class="site-nav-list">
        <li class="site-nav-list-item"><%= link_to t("home"), "/", :class=> "site-nav-list-item-btn" %></li>
        <li class="site-nav-list-item"><%= link_to t("event.event_page"), "/event/#{@event_uid}", :class=> "site-nav-list-item-btn" %></li>
      </ul>
    </div>
  </nav>
  <div class="site-nav-overlay"></div>
  <div class="content-container">
    <div class="scroll-region">
      <button class="site-nav-logo">M</button>
      <ul id="tabs-titles">
        <li class="tooltip current" data-title="<%= t("classroom.noVNC") %>"><i class="fa fa-desktop"></i></li>
        <li class="tooltip" data-title="<%= t("classroom.terminal") %>"><i class="fa fa-terminal"></i></li>
        <li class="tooltip" data-title="<%= t("classroom.whiteboard") %>"><i class="fa fa-pencil-square-o"></i></li>
      </ul>
      <div class="leftcolumn">
        <ul id="tabs-contents">
          <li>
            <div class="content">
              <iframe src="http://pp2code.com:6080/vnc.html?host=pp2code.com&port=6080&password=maodou&autoconnect=true" class="web-shell" name="web-shell" ></iframe>
            </div>
          </li> <!-- end li -->
          <li>
            <div class="content">
              <iframe src="http://pp2code.com:6200/" class="web-shell" name="web-shell"></iframe>
            </div>
          </li> <!-- end li -->
          <li>
            <div class="content">
              <iframe src="http://maodou.io:1337/" class="web-shell" name="web-shell" ></iframe>
            </div>
          </li> <!-- end li -->
        </ul>
      </div>

      <div class="rightcolumn">
        <div class="people_online">
          <h1 class="title">
            Welcome
            <span class="username">
              <%= current_user.username %>
            </span>
          </h1>
          <ul class="participants"></ul>
        </div>
        <div id="messenger"></div>
        <div id="conference">
          <div id="myVideo"></div>
        </div>
      </div>
    </div>
  </div> <!-- end content-container -->
</div> <!-- end maincontainer -->


<% content_for :template_js do %>
  <script>
    var socket = io.connect("<%= Settings.socket.server %>");
    socket.emit('add user', "<%= current_user.username %>");
    // Whenever the server emits 'user joined', log it in the chat body

    function addLoginMsg(data) {
      $('.participants').html('');
      var items = data.loginTime;
      for(var i = 0; i < items.length; i++) {
        var item = data.loginTime[i].split(':');
        var t = new Date(parseInt(item[1]));
        var f = t.toLocaleString("zh-Hans-CN").split(' ')[1];
        var text = '<span class="name-color">' + item[0] + '</span>';
        var log = '<span class="log">' + ' joined at ' + f + '</span>';
        $('.participants').append('<li class="' + item[0] + '">' + text + log + "</li>");
      }
    }

    socket.on('user joined', function (data) {
      addLoginMsg(data);
    });

    socket.on('user left', function(data){
      $(".participants ." + data.username + " .name-color").css("color", "gray");
      setTimeout(function(){$(".participants ." + data.username).fadeOut(3000)}, 2000);
    });
  </script>

  <script>
    var body = $('body');
    $('.site-nav-logo').click(function(){
      body.addClass('site-nav-transition site-nav-drawer-open');
    });
    $('.site-nav-overlay').click(function(){
      body.removeClass('site-nav-drawer-open');
      setTimeout(function() {
        body.removeClass('site-nav-transition');
      }, 300);
    });
  </script>

  <script>
    var tabs = $('#tabs-titles li'); //grab tabs
    var contents = $('#tabs-contents li'); //grab contents

    tabs.bind('click',function(){
      contents.hide(); //hide all contents
      tabs.removeClass('current'); //remove 'current' classes
      $(contents[$(this).index()]).show(); //show tab content that matches tab title index
      $(this).addClass('current'); //add current class on clicked tab title
    });
  </script>

  <%= javascript_include_tag 'classroom'%>
<% end %>