<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @guest_name %>，来参加我组织的活动吧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0;">
    <table align="center" bgcolor="#f2f2f2"  border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
      <tr>
        <td style="padding: 20px 0 30px 0;">
          <table align="center" width="600" bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
            <tr>
              <td bgcolor="#56BC94"  style="font-size: 0; line-height: 0;" height="5">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td style="padding: 20px 30px 0 30px;">
                Hi <%= @guest_name %>，
              </td>
            </tr>
            <tr>
              <td style="padding: 20px 30px 0 30px; line-height: 24px;">
                我在毛豆网上组织了一个活动<%= link_to @event.title, event_url(@event.uid) %>，想让你来参加。
              </td>
            </tr>
            <tr>
              <td style="padding: 20px 30px 0 30px; line-height: 24px;">
                另外，毛豆网会不定期的组织很多活动，访问
                <%= link_to "毛豆网主页", "http://maodou.io/" %>
                去看看有没有你感兴趣的活动吧 ^ _ ^
              </td>
            </tr>
            <tr>
              <td style="padding: 20px 30px 20px 30px; font-weight: bold; ">
                <%= link_to @sender.username, account_url(@sender.username), :style => "font:bold 13px Helvetica,Arial,sans-serif;color:#333333;text-decoration: none;" %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>