<% @event.comments.each do |c| %>
  <div class="comment clearfix">
    <%= link_to "/#{c.user.username}", class: "avatar" do %>
      <%= image_tag c.user.final_avatar_url, :alt => "Your Image"%>
    <% end %>
    <div class="content">
      <%= link_to "/#{c.user.username}", class: "author" do %>
        <%= c.user.username %>
      <% end %>
      <div class="metadata">
        <span class="momentjs-time" data-time="<%= c.created_at.utc.iso8601 %>"></span>
      </div>
      <div class="text">
        <%= c.content %>      
      </div>
    </div>
  </div>
<% end %>