<div class="section-header">
  <%= t('issues') %> <br><br>
  <%= t('issues_welcome') %>
</div>
<div class="container">
  <div class="issue-index">
    <% if current_user %>
      <div class="issue-admin-area">
        <%= link_to t("submit_issue"), new_issue_path, class: "red button" %>
      </div>
    <% else %>
      <div class="issue-admin-area">
        <%= link_to t("submit_issue"), new_issue_path, class: "red button" %>
      </div>
    <% end %>
    <div class="issue-list">
     <% @issues.each do |i| %>
       <%= render partial: "issue", locals: {issue: i} %>
     <% end %>
    </div>
  </div>
</div>
