<div class="section-header">
  <%= t('issues') %> <br><br>
  <%= t('issues_welcome') %>
</div>
<div class="issue-container box">
  <div class="issue-post">

    <%= link_to t("go_back"), "/issues" %>

    <h2 class="issue-post-title">
      <%= link_to @issue.title, issue_path(@issue) %>
    </h2>
    <ul class="issue-post-meta">
      <li>
        <i class="fa fa-calendar"></i>
        <span class="momentjs-timeago" data-timeago="<%= @issue.created_at.utc.iso8601 %>"></span>
      </li>
      <li>
        <% if @issue.user %>
          <%= image_tag @issue.user.final_avatar_url, :alt => "avatar", :class => "author-avatar" %>
          <%= link_to @issue.user.username, "/" + @issue.user.username %>
        <% else %>
          <%= image_tag "http://vala.venusawards.co.uk/assets/img/default_avatar.png", :alt => "avatar", :class => "author-avatar" %>
          Guest
        <% end %>
      </li>
    </ul>
    <div class="issue-markdown-body markdown-format">
      <%= markdown @issue.content %>
      <% if current_user && current_user.admin? %>
      <%= link_to t("edit_issue"), edit_issue_path(@issue), :class => "minibutton" %>
      <% end %>
    </div>
  </div>
</div>

<div class="issue-container">
  <div class="issue-comment-area blue-top-box">
    <h2 class="comments-header">
      <i class="fa fa-comments"></i> <%= t("comments") %>
    </h2>
    <div class="comments-list">
      <% @issue.comments.each do |c| %>
        <%= render partial: "comments/comment", locals: {comment: c} %>
      <% end %>
    </div>
    <% if current_user %>
      <%= render partial: "comments/new_comment_form", locals: {commentable: @issue} %>
    <% else %>
      <div class="login-to-comment">
        <%= link_to t("login_and_comment"), login_path(:return_to => request.url) %>
      </div>
    <% end %>
  </div>
</div>
