<div class="container">
  <div class="notification-list-wrapper">
    <div class="notification-title">
      <div class="total"><%= t("notification.notifications") %><small> (<%= @notifications.count %>)</small></div>
    </div>
    <% if @notifications.blank? %>
    <div class="no-content">
      <%= t("notification.no_content") %>
    </div>
    <% else %>
    <table class="notification-list">
      <tbody>
        <% @notifications.each do |n| %>
        <tr class="n-item <%= cycle("n-odd", "n-even") %>">
          <td class="n-col notificon">
            <% if n.action == "join" %>
              <i class="fa fa-beer fa-2x"></i>
            <% else %>
              <i class="fa fa-plus fa-2x"></i>
            <% end %>
          </td>
          <td class="n-col n-avatar">
            <%= link_to account_path(n.sender.username) do %>
              <%= image_tag n.sender.final_avatar_url, :class => "gavatar", :width => "30x30" %>
            <% end %>
          </td>
          <td class="n-col n-desc">
            <%= link_to n.sender.username, account_path(n.sender.username) %>
            <% if n.action == "join" %>
              <span class="n-annotate"><%= t("notification.join_event") %></span>
            <% else %>
              <span class="n-annotate"><%= t("notification.create_event") %></span>
            <% end %>
            <%= link_to n.notifiable.title, event_path(uid: n.notifiable.uid) %>
          </td>
          <td class="n-col n-time">
            <%= time_ago_in_words n.created_at %> <%= t("datetime.ago") %>
            <% if n.unread %>
              <i class="fa fa-circle n-circle"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
