<div class="container">
  <div class="notification-list-wrapper">
    <div class="notification-title">
      <div class="total"><%= t("notification.notifications") %><small> (<%= @notifications.count %>)</small></div>
    </div>
    <% if @notifications.blank? %>
    <div class="no-content">
      <%= t("notification.no_content") %>
    </div>
    <% else %>
    <table class="notification-list">
      <tbody>
        <% @notifications.each do |n| %>
        <tr class="item <%= cycle("odd", "even") %>">
          <td class="column notificon">
            <% if n.action == "join" %>
              <i class="fa fa-beer fa-2x"></i>
            <% elsif n.action == "invite" %>
              <i class="fa fa-gift fa-2x"></i>
            <% elsif n.action == "message" %>
              <i class="fa fa-envelope fa-2x"></i>
            <% elsif n.action == "start" %>
              <i class="fa fa-clock-o fa-2x"></i>
            <% else %>
              <i class="fa fa-plus fa-2x"></i>
            <% end %>
          </td>
          <td class="column avatar">
            <%= link_to account_path(n.sender.username) do %>
              <%= image_tag n.sender.final_avatar_url, :class => "gavatar", :width => "30x30" %>
            <% end %>
          </td>
          <td class="column desc">
            <%= link_to n.sender.username, account_path(n.sender.username) %>
            <% if n.action == "join" %>
              <span class="annotate"><%= t("notification.join_event") %></span>
            <% elsif n.action == "invite" %>
              <span class="annotate"><%= t("notification.invite_you") %></span>
            <% elsif n.action == "message" %>
              <span class="annotate"><%= t("notification.message") %></span>
            <% elsif n.action == "start" %>
              <span class="annotate">
                <%= t("notification.your_event") %>
              </span>
            <% else %>
              <span class="annotate"><%= t("notification.create_event") %></span>
            <% end %>
            <% if n.notifiable_type == "Event" %>
              <%= link_to n.notifiable.title, event_path(uid: n.notifiable.uid) %>
            <% else %>
              <p><%= n.notifiable.content %></p>
              <span class="minibutton blue msg-reply"><%= t("message.reply") %></span>
              <%= form_for Message.new(sender_id: current_user.id, receiver_id: n.sender.id), html: {class: "msg-form"} do |f| %>
                <%= f.hidden_field :sender_id %>
                <%= f.hidden_field :receiver_id %>
                <%= f.text_area :content, class: "msg-textarea", placeholder: t("message.blank_error") -%>
                <%= f.submit t("message.send_message"), :class => "minibutton blue msg-btn", :disable_with => t("message.sending") %>
                <span class="msg-cancel minibutton"><%= t("cancel") %></span>
              <% end %>
            <% end %>
          </td>
          <td class="column time">
            <span class="momentjs-timeago" data-timeago="<%= n.created_at.utc.iso8601 %>"></span>
            <% if n.unread %>
              <i class="fa fa-circle circle"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<% content_for :template_js do %>
  <script>
    $('.msg-form').submit(function(){
      var msg = $(this).children('.msg-textarea').val().trim();
      if(msg == '') {
        return false;
      }
    });
    $('.msg-reply').click(function(){
      $(this).hide();
      $(this).siblings('.msg-form').show();
    });
    $('.msg-cancel').click(function(){
      $(this).parents('.msg-form').hide();
      $(this).parents('.msg-form').siblings('.msg-reply').show();
    });
  </script>
<% end %>
