<div class="container">
  <div id="account-settings">
    <ul class="menu">
      <li>
        <i class="fa fa-user"></i>
        <%= t("settings.account") %>
      </li>
      <li></li>
    </ul>

    <div class="content clearfix">
      <ul class="items">
        <li class="item">
          <span class="label"><%= t("activerecord.attributes.user.username") %></span>
          <span><%= @user.username %></span>
          <span class="action"><i class="fa fa-pencil"></i></span>
        </li>
        <li class="item">
          <span class="label"><%= t("activerecord.attributes.user.role") %></span>
          <span><%= @user.role %></span>
          <span class="action"><i class="fa fa-pencil"></i></span>
        </li>
        <li class="item">
          <span class="label"><%= t("activerecord.attributes.user.email") %></span>
          <span><%= @user.email %></span>
          <span class="action"><i class="fa fa-pencil"></i></span>
        </li>
        <li class="item">
          <span class="label"><%= t("activerecord.attributes.user.password") %></span>
          <span class="action"><i class="fa fa-pencil"></i></span>
        </li>
        <li class="item">
          <span class="label"><%= t("activerecord.attributes.user.bio") %></span>
          <span><%= @user.bio %></span>
          <span class="action"><i class="fa fa-pencil"></i></span>
        </li>
      </ul>

      <div class="avatar-wrapper">
        <div class="tip">
          some info here
        </div>
        <div class="avatar">
          <a href="http://gravatar.com">
            <%= image_tag @user.final_avatar_url, :alt => "Your Image", :size => "120x120"%>
          </a>
        </div>
        <div class="upload">
          <%= link_to t("settings.upload_profile"), '', class: "button primary" %>
        </div>
      </div>
    </div>

  </div>
</div>
