<div class="login-form">
  <div class="boxed-group" id="login">
    <h3><%= t("users.login") %></h3>
    <div class="boxed-group-inner">
      <%= form_tag "/create_login_session" do %>
        <dl class="form">
          <dt><%= label_tag t("users.email") %></dt>
          <dd><%= text_field_tag :email, params[:email], :class => "short" %></dd>
        </dl>
        <dl class="form">
          <dt><%= label_tag t("users.password") %></dt>
          <dd><%= password_field_tag :password, params[:password], :class => "short" %></dd>
        </dl>
        <p> <%= submit_tag t("users.login"), :class => "button green" %> </p>
      <% end %>
    </div>
  </div>
</div>
