<div class="container">
  <div class="search-result-page">
    <% if @users.blank? %>
      <div class="no-match">
        sorry, no teachers found
      </div>
    <% else %>
      <h1>
        Search result
        <span>( <%= pluralize @users.count, 'teacher' %> )</span>
      </h1>
      <ul class="search-result-list">
        <% @users.each do |user| %>
          <li class="search-result-item clearfix">
            <div class="teacher-avatar">
              <%= link_to account_path(user.username) do %>
              <%= image_tag user.final_avatar_url, :alt => "Your Image", :size => "100x100", class: "avatar-decorator" %>
              <% end %>
            </div>
            <div class="teacher-details">
              <h2><%= link_to user.username, account_path(user.username), class: "name" %></h2>
              <p><%= user.bio %></p>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
