<div class="container clearfix">
  <div class="profile-card clearfix">
    <div class="avatar">
      <a href="http://gravatar.com">
        <%= image_tag @user.final_avatar_url, :alt => "Your Image", :size => "120x120"%>
      </a>
    </div>
    <div class="name-email">
      <h2><%= @user.username %></h2>
      <p><%= @user.email %></p>
    </div>
    <div class="edit-info">
      <% if edit?(@user) %>
        <%= link_to t("users.edit_profile"), set_profile_path, class: "button primary" %>
      <% end %>
    </div>
  </div>

  <div class="event-list-wrap clearfix">
    <% if edit?(@user) && @user.role == "teacher" %>
      <%= link_to t("event.new_event"), new_event_path, class: "new-event-btn button primary"%>
    <% end %>
    <%= render partial: "events/my_events_list", locals: { user: @user} %>
  </div>
</div>