<div class="container clearfix">
  <div class="left-side">
  <div class="profile-card blue-top-box clearfix">
    <div class="avatar">
     <a href="http://gravatar.com">
       <%= image_tag @user.final_avatar_url, :alt => "Your Image", :size => "120x120"%>
     </a>
    </div>
    <div class="name-email">
     <h2><%= @user.username %></h2>
     <p><%= @user.email %></p>
    </div>
    <div class="edit-info">
     <% if edit?(@user) %>
       <%= link_to t("users.edit_profile"), set_profile_path, class: "button primary" %>
     <% end %>
    </div>
  </div>

  <% if @user.github_name.present? %>
    <div class="github-block blue-top-box">
      <h3>Github info</h3>
      <div class="info">Account: <%= link_to @user.github_name, "https://github.com/#{@user.github_name}" %></div>
      <div class="tip">Loading info ...</div>
    </div>
  <% end %>

  <div class="msg-block">
    <div class="page-overlay"></div>

    <% if current_user.blank? %>
      <%= link_to t("message.send_message"), login_path, class: "button msg-btn notlogin-msg-btn tooltip", data: {title: t("message.sign_in")} %>
    <% elsif current_user.id != @user.id %>
      <div class="button msg-btn login-msg-btn"><%= t("message.send_message") %></div>
      <div class="msgbox-container">
        <div class="msg-area">
         <div class="msg-new-content">
           <div class="msg-header">
             <%= t("message.send_to") %>: <span class="receiver"><%= @user.username %></span>
           </div>
           <div class="msg-errors">
             <%= t("message.blank_error") %>
           </div>
           <%= form_for(Message.new(:sender_id => current_user.id, :receiver_id => @user.id)) do |f| %>
             <%= f.hidden_field :sender_id %>
             <%= f.hidden_field :receiver_id %>
             <%= f.text_area :content, cols: 0, rows: 0, class: "msg-form" %>
             <%= f.submit t("message.send_message"), :class => "button msg-btn", :disable_with => t("message.sending") %>
           <% end %>
           <div class="msg-cancel-btn">
             <i class="fa fa-times"></i>
           </div>
         </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>

  <div class="event-list-wrap clearfix">
    <% if edit?(@user) %>
      <%= link_to t("event.new_event"), new_event_path, class: "new-event-btn button primary"%>
    <% end %>
    <%= render partial: "events/my_events_list", locals: { user: @user} %>
  </div>
</div>

<% content_for :template_js do %>
  <script>
    $(".login-msg-btn").click(function(){
      $(".container").addClass("msgbox-enabled");
      $(".msgbox-container").show();
    });

    $(".msg-cancel-btn").click(function(){
      $(".container").removeClass("msgbox-enabled");
      $(".msgbox-container").hide();
      $(".msg-errors").hide();
    });

    $(".new_message").submit(function(){
      if($(".msg-form").val().trim() === ''){
        $(".msg-errors").show();
        return false;
      }
    })

    var github_user = function(username, callback) {
      $.getJSON('https://api.github.com/users/' + username + '?callback=?', callback);
    }
    var info, username;
    username = "<%= @user.github_name %>";
    github_user(username, function(data){
      info = data.data;
      $(".github-block .tip").hide();
      var el = $('<div class="info">').text("Followers: " + info.followers);
      $(".github-block").append(el);
    });
  </script>
<% end %>
