<div class="signup-form">
  <%= form_for @user do |f| %>
    <div class="boxed-group">
      <h3><%= t("users.signup") %></h3>
      <div class="boxed-group-inner">
        <% if @user.errors.any? %>
          <div class="form_errorred">
            <%= t("users.form_errors") %>
          </div>
        <% end %>
        <dl class="form">
          <dt><%= f.label :username %></dt>
          <dd><%= f.text_field :username , :class => "short" %></dd>
          <% if @user.errors[:username].any? %>
            <dd class="error"><%= @user.errors[:username][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt> <%= f.label :email %></dt>
          <dd> <%= f.text_field :email, :class => "short" %> </dd>
          <% if @user.errors[:email].any? %>
            <dd class="error"><%= @user.errors[:email][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt> <%= f.label :password %> </dt>
          <dd> <%= f.password_field :password, :class => "short" %> </dd>
          <% if @user.errors[:password].any? %>
            <dd class="error"><%= @user.errors[:password][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt> <%= f.label :password_confirmation %> </dt>
          <dd> <%= f.password_field :password_confirmation, :class => "short" %> </dd>
        </dl>
        <p><%= f.submit t("users.signup"), :class => "button primary" %></p>
      </div>
    </div>
  <% end %>
</div>
