<% if @user.errors[@field].any? %>
  $('.feedback-msg').hide();
  $(".<%= @field %>-action").after("<div class='feedback-msg error'><%= @user.errors[@field][0] %></div>");
<% else %>
  $(".<%= @field %>-area").hide();
  $(".<%= @field %>-info").html("<%= eval('@user.' + @field) %>").show();
  $('.feedback-msg').hide();
  $(".<%= @field %>-action").after("<div class='feedback-msg success'><%= t("settings.successfully_updated") %></div>").show();
<% end %>