<div class="footer clearfix">
  <div class="container">
    <div class="left-footer">
      <ul class="footer-links">
        <li class="link">
          <%= link_to t("contact"), "/contact" %>
        </li>
        <li class="link">
          <%= link_to t("blog"), "/blog" %>
        </li>
        <li class="link">
          <%= link_to t("issues"), "/issues" %>
        </li>
        <li class="link">
          <% if cookies[:locale] == "en" %>
            <%= link_to "简体中文", "?locale=zh-CN", class: "locale-btn" %>
          <% else %>
            <%= link_to "English", "?locale=en", class: "locale-btn" %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="right-footer">
      <%= link_to "沪ICP备14025638号", "http://www.miibeian.gov.cn/" %>
    </div>
  </div>
</div>