<div class="header">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      <%= t("maodou") %>
    </a>
    <ul class="user-links">
      <li> <%= link_to t("blog"), "/blog" %> </li>
      <li> <%= link_to t("issues"), "/issues" %> </li>
      <% if logged_in? %>
        <li>
          <%= link_to notifications_path, :class => "badage" do %>
          <span class="notification-indicator <%= 'notification-indicator-unread' if @unread_count > 0 %>"><%= @unread_count %></span>
          <% end %>
        </li>
        <li><%= link_to current_user.username, account_path(current_user.username) %></li>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            <%= t('users.logout') %>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to t("users.signup"), signup_path %></li>
        <li>
          <%= link_to login_path  do%>
            <%= t('users.login') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

