<div class="header">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      <%= t("home") %>
    </a>
    <ul id="user-links">
      <% if logged_in? %>
        <li><%= link_to current_user.username, account_path(current_user.username) %></li>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to t("users.signup"), signup_path %></li>
        <li>
          <%= link_to login_path  do%>
            <i class="fa fa-sign-in"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

