<div class="hero clearfix">
<div class="hero-container clearfix">
  <div class="brand-img">
    <%= image_tag "cat.png" %>
  </div>
  <div class="search-area">
    <div class="slogan">
      <%= t('website.tagline') %>
    </div>
    <div class="teacher-search">
      <%= form_tag search_path, method: 'get' do %>
        <%= text_field_tag :q, params[:q], placeholder: "e.g. Ruby Linux C", autocomplete: "off", class: "teacher-search-input" %>
        <%= submit_tag t("website.search_teacher"), class: "red button search-btn" %>
      <% end %>
    </div>
  </div>
</div></div>