<ul class="feed-list">
  <h2 class="feed-title">
    <%= t("latest_feed") %>
  </h2>
  <% if events.blank? %>
    <div class="no-latest-feed">
      <i class="fa fa-frown-o"></i>
      <%= t("event.no_latest_feed") %>
    </div>
  <% else %>
    <% events.each do |e| %>
      <li class="feed-item">
        <div class="feed-col feed-image">
          <%= link_to "/#{e.user.username}" do %>
            <%= image_tag e.user.final_avatar_url, :class => "feed-avatar" %>
          <% end %>
        </div>
        <div class="feed-col feed-content">
          <%= link_to e.user.username, "/#{e.user.username}" %>
          <%= t("notification.create_event") %> ,&nbsp;&nbsp;
          <span class="momentjs-timeago" data-timeago="<%= e.created_at.utc.iso8601 %>"></span>
          <br> 
          <%= link_to e.title, "/event/#{e.uid}" %>
        </div>
        <div class="feed-col feed-time">
          <%= t('event.join') %> <i class='fa fa-sign-in'> <%= e.all_members.count %></i> &nbsp; 
          <%= t('event.invite') %> <i class='fa fa-envelope-o'> <%= e.email_invite.length %></i>
        </div>
      </li>
    <% end %>
  <% end %>
  <div class="all-events"><%= link_to t("event.all_events"), event_timeline_path %></div>
</ul>
