<div class="hero clearfix">
  <div class="slogan">
    <%= t('website.tagline') %>
  </div>
  <div class="teacher-search">
    <input type="text" class="teacher-search-input" placeholder="e.g. Ruby, Linux, C ">
    <a href="#" class="button"><%= t("website.search_teacher") %></a>
  </div>
</div>

<div class="features">
  <div class="item">
    <div class="icon animated fadeInUp">
      <%= link_to  "http://pp2code.com/doudoujia" do %>
        <i class="fa fa-users"></i>
      <% end %>
    </div><!--//icon-->
    <div class="content">
      <h3 class="join-class"><%= link_to  t("website.enter_classroom"), "http://pp2code.com/doudoujia" %></h3>
      <p>
        <%= t("website.slogan") %>
      </p>
    </div>
  </div>
</div>

<div class="site-updates clearfix">
  <div class="container">
    <div class="lastest-feed">
      <%= render partial: "latest_feed", locals: { events: @events} %>
    </div>
    <% if current_user %>
      <div class="todo">
        <%= render partial: "todo", locals: { attended_events: @attended_events} %>
      </div>
    <% else %>
      <div class="todo">
        <ul class="todo-list">
          <%= link_to t("login_to_select_events"), "javascript:;" %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
