<%= render "hero" %>

<% if current_user.nil? %>
  <%= render "marketing" %>
<% end %>

<div class="site-updates clearfix">
  <div class="container">
    <div class="lastest-feed box">
      <%= render partial: "latest_feed", locals: { events: @events} %>
    </div>
    <div class="todo box">
      <% if current_user %>
        <%= render partial: "todo_list", locals: {active_attended_events: @active_attended_events} %>
      <% else %>
        <i class="fa fa-smile-o"></i>
        <%= link_to t("login_to_select_events"), login_path %>
      <% end %>
    </div>
  </div>
</div>
