<div class="event-share-list" data-title="<%= h title %>" data-img="<%= opts[:image] %>" data-url="<%= opts[:url] %>">
  <% %w(weibo tqq renren).each do |name| %>
    <% title = t("share_button.share_to", name: t("share_button.#{name.downcase}")) %>
    <%= link_to '', { "data-site" => name,
                      class: "share-item #{name} tooltip",
                      "title" => "#{title}",
                      onclick: "return SocialShareButton.share(this);" } do %>
      <i class="fa fa-<%= name %>"></i>
      <% if name == "tqq" %>
        <i class="fa fa-tencent-weibo"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
