<div class="container">
  <div class="edit-event-box">
    <h3 class="edit-event-box-header">
      <%= t("event.edit_event") %>
      <%= link_to t("go_back"), event_path(@event.uid), class: "back" %>
    </h3>
    <ul class="event-list">
      <li class="event-item">
        <div class="event-label">
          <%= t("activerecord.attributes.event.title") %>
        </div>
        <div class="event-info title-info">
          <%= @event.title %>
        </div>
        <div class="edit-area title-area" style="display: none;">
          <%= form_for(@event, url: "/event/#{@event.uid}/title", remote: true) do |f| %>
            <%= f.text_field :title, size: 20, class: "edit-input" %><br /><br />
            <%= f.submit t("settings.save"), :class => "minibutton green" %>
            <%= link_to t("settings.cancel"), 'javascript:;', class: "edit-cancel minibutton secondary" %>
          <% end %>
        </div>
        <div class="edit-action title-action"><i class="fa fa-pencil"></i></div>
      </li>

      <li class="event-item">
        <div class="event-label">
          <%= t("activerecord.attributes.event.price") %>
        </div>
        <div class="event-info price-info">
          <%= @event.price %>
        </div>
        <div class="edit-area price-area" style="display: none;">
          <%= form_for(@event, url: "/event/#{@event.uid}/price", remote: true) do |f| %>
            <%= f.text_field :price, size: 20, class: "edit-input" %><br /><br />
            <%= f.submit t("settings.save"), :class => "minibutton green" %>
            <%= link_to t("settings.cancel"), 'javascript:;', class: "edit-cancel minibutton" %>
          <% end %>
        </div>
        <div class="edit-action price-action"><i class="fa fa-pencil"></i></div>
      </li>

      <li class="event-item">
        <div class="event-label"><%= t("activerecord.attributes.event.published") %></div>
        <div class="event-info published-info">
          <%= @event.published %>
        </div>
        <div class="edit-area published-area", style="display: none">
          <%= form_for(@event, url: "/event/#{@event.uid}/published", remote: true) do |f| %>
            <% %w(true false).each do |p| %>
              <% if p == @event.published %>
                <%= f.radio_button :published, p, checked: true %>
                <%= p %>
              <% else %>
                <%= f.radio_button :published, p %>
                <%= p %>
              <% end %>
            <% end %>
            <br /><br />
            <%= f.submit t("settings.save"), :class => "minibutton green" %>
            <%= link_to t("settings.cancel"), 'javascript:;', class: "edit-cancel minibutton" %>
          <% end %>
        </div>
        <div class="edit-action published-action"><i class="fa fa-pencil"></i></div>
      </li>

      <li class="event-item">
        <div class="event-label">
          <%= t("activerecord.attributes.event.start") %>
        </div>
        <div class="event-info start-info">
          <%= @event.start.strftime('%Y-%-m-%-d %p %-l:%M') %>
        </div>
        <div class="edit-area start-area" style="display: none;">
          <%= form_for(@event, url: "/event/#{@event.uid}/start", remote: true) do |f| %>
            <%= f.datetime_select :start, ampm: true %><br /><br />
            <%= f.submit t("settings.save"), :class => "minibutton green" %>
            <%= link_to t("settings.cancel"), 'javascript:;', class: "edit-cancel minibutton" %>
          <% end %>
        </div>
        <div class="edit-action start-action"><i class="fa fa-pencil"></i></div>
      </li>

      <li class="event-item">
        <div class="event-label">
          <%= t("activerecord.attributes.event.description") %>
        </div>
        <div class="event-info description-info">
          <div class="markdown-format">
            <%= markdown @event.description %>
          </div>
        </div>
        <div class="edit-area description-area" style="display: none;">
          <%= form_for(@event, url: "/event/#{@event.uid}/description", remote: true) do |f| %>
            <%= f.text_area :description, rows: 10, cols: 40, class: "edit-input" %><br /><br />
            <%= f.submit t("settings.save"), :class => "minibutton green" %>
            <%= link_to t("settings.cancel"), 'javascript:;', class: "edit-cancel minibutton" %>
          <% end %>
        </div>
        <div class="edit-action description-action"><i class="fa fa-pencil"></i></div>
      </li>
    </ul>
  </div>
</div>

<% content_for :template_js do  %>
  <script>
    $(".edit-area .edit-cancel").click(function(){
      $(this).parents(".edit-area").hide();
      $(this).parents(".edit-area").siblings(".event-info").show();
      $(this).parents(".edit-area").siblings(".edit-action").show();
      $(this).parents(".edit-area").siblings(".feedback-msg").hide();

      var text = $(this).parents(".edit-area").siblings(".event-info").text().trim();

      if($(this).parents(".published-area").length == 1){
        $("input:radio").filter('[value=' + text + ']').prop('checked', true);
      }else if($(this).parents(".start-area").length == 1){
        var a = text.split(' ');
        var date = a[0].split('-');
        var time = a[2].split(':');

        for(var i = 1; i < 4; i++) {
          var selector = "#event_start_" + i + "i option";
          var value = '[value=' + date[i-1] +']';
          $(selector).filter(value).attr("selected", true);
        }

        var e4 = "#event_start_4i option";
        var e5 = "#event_start_5i option";
        var h1 = '[value=' + '0' + time[0] +']';
        var tmp = 12 + parseInt(time[0]);

        if(a[1] == 'AM' && time[0] < 10){
          $(e4).filter(h1).attr("selected", true);
        }else if (a[1] == 'PM') {
          $(e4).filter('[value=' + tmp +']').attr("selected", true);
        }else {
          $(e4).filter('[value=' + time[0] +']').attr("selected", true);
        }

        $(e5).filter('[value=' + time[1] +']').attr("selected", true);
      }else{
        $(this).siblings(".edit-input").val(text);
      }
    });

    $(".event-item .edit-action").click(function(){
      $(this).hide();
      $(this).siblings(".feedback-msg").hide();
      $(this).siblings(".event-info").hide();
      $(this).siblings(".edit-area").show();
    });
  </script>
<% end %>
