<div class="event-form">
  <%= form_for @event do |f| %>
    <div class="boxed-group">
      <h3><%= t("event.create_event") %></h3>
      <div class="boxed-group-inner">
        <% if @event.errors.any? %>
          <div class="form_errorred">
            <%= t("event.form_errors") %>
          </div>
        <% end %>
        <dl class="form">
          <dt><%= f.label :title %></dt>
          <dd><%= f.text_field :title, :class => "short" %></dd>
          <% if @event.errors[:title].any? %>
            <dd class="error"><%= @event.errors[:event][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt><%= f.label :price %></dt>
          <dd><%= f.text_field :price, :class => "short" %></dd>
        </dl>
        <dl class="form">
          <dt><%= f.label :published %></dt>
          <dd>
            <% %w(true false).each do |p| %>
              <% if p == @event.published %>
                <%= f.radio_button :published, p, checked: true %>
                <%= p %>
              <% else %>
                <%= f.radio_button :published, p %>
                <%= p %>
              <% end %>
            <% end %>
          </dd>
        </dl>
        <dl class="form">
          <dt><%= f.label :start %></dt>
          <dd><%= f.datetime_select :start, ampm: true, :class => "short" %></dd>
        </dl>
        <dl class="form">
          <dt><%= f.label :description %></dt>
          <dd><%= f.text_area :description, :class => "short" %></dd>
        </dl>
        <p>
          <%= f.submit t("event.create_event"), :class => "button primary" %>
          <%= link_to t("event.cancel"), account_path(@event.user.username) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
