<div class="event-hero">
  <h1 class="event-hero-title">
    <%= @event.title %>
  </h1>
  <h2 class="event-subtitle">
    <%= t("beijing_time") %>
    <span class="momentjs-time" data-time="<%= @event.start.utc.iso8601 %>"></span>
  </h2>
  <% if @event.all_members.include? current_user %>
    <%= link_to t("event.have_joined"), "javascript:;", class: "button red" %>
  <% elsif owner?(@event) %>
    <%= link_to t("event.edit_event"), edit_event_path(@event.uid), class: "button red" %>
  <% elsif current_user %>
    <%= link_to t("event.join_event"), event_membership_path(uid: @event.uid), method: :post, class: "button red" %>
  <% else %>
    <%= link_to t("event.join_please_login"), login_path, class: "button red" %>
  <% end %>
</div>

<div class="event-details">
  <div class="container clearfix">
    <div class="event-section-left">
      <%= render partial: "section_area", locals: {event: @event} %>
    </div>
    <div class="event-section-right">
      <%= render partial: "organizer_card", locals: {event: @event} %>
    </div>
    <div class="event-section-bottom">
      <%= render partial: "event_members", locals: {event: @event} %>
    </div>
  </div>
</div>

<% content_for :template_js do %>
  <script>
    $('.event-hero').anystretch("https://d262ilb51hltx0.cloudfront.net/fit/t/1400/1120/gradv/29/81/55/1*vAsjToCdK_U7qSzXrjfQMw.jpeg");
  </script>
<% end %>
