<div class="event-hero">
  <h1 class="event-hero-title">
    <%= @event.title %>
  </h1>
  <h2 class="event-subtitle">
    <%= t("beijing_time") %>
    <span class="momentjs-time" data-time="<%= @event.start.utc.iso8601 %>"></span>
  </h2>
   <%= render partial: "state_button", locals: {event: @event} %>
</div>

<div class="event-details">
  <div class="container clearfix">
    <div class="event-section-left">
      <%= render partial: "section_area", locals: {event: @event} %>
    </div>
    <div class="event-section-right">
      <%= render partial: "organizer_card", locals: {event: @event} %>
    </div>
    <div class="event-section-bottom">
      <%= render partial: "event_members", locals: {event: @event} %>
    </div>
  </div>
</div>

<%= render partial: "event_comments", locals: {event: @event} %>

<% content_for :template_js do %>
  <script>
    $('.event-hero').anystretch("http://peterpic.qiniudn.com/catie.jpg");
  </script>
<% end %>
