<% if @event.errors[@field].any? %>
  $('.feedback-msg').hide();
  $(".<%= @field %>-action").after("<div class='feedback-msg error'><%= @event.errors[@field][0] %></div>");
<% else %>
  $(".<%= @field %>-area").hide();
  <% if @field == "start" %>
    $(".<%= @field %>-info").html("<%=j eval('@event.' + @field).strftime('%Y-%-m-%-d %p %-l:%M') %>").show();
  <% else %>
    $(".<%= @field %>-info").html("<%=j markdown eval('@event.' + @field) %>").show();
  <% end %>
  $('.feedback-msg').hide();
  $(".<%= @field %>-action").after("<div class='feedback-msg success'><%= t("settings.successfully_updated") %></div>").show();
<% end %>
