<div class="binding-block">
  <% if current_user.github_name.present? %>
    <%= render partial: 'binding', locals: {username: current_user.github_name, tip: false} %>
  <% else %>
    <%= form_tag '.', id: "run" do %>
      <%= text_field_tag :name, params[:name], placeholder: t("settings.github_name"), autocomplete: "off", class: "username" %>
      <%= button_tag t("settings.binding_github"), class: "minibutton primary g-binding-btn" %>
    <% end %>
  <% end %>
</div>

<% content_for :template_js do %>
  <script>
    var github_user = function(username, callback) {
      $.getJSON('https://api.github.com/users/' + username + '?callback=?', callback);
    }
    var info, username;

    $("form#run").submit(function(e){
      username = $(".username").val().trim();
      if(username != '') {
        github_user(username, function(data){
          info = data.data;
          if(info.message !== "Not Found") {
            $.ajax({
              url: '/settings/update_binding',
              type: 'POST',
              data: { name: username }
            });
          } else {
            $(".tip").hide();
            var tip = $('<p class="tip error">').html('<b>' + username + "</b> <%= t("settings.binding_github_error") %>");
            $(".binding-block").append(tip);
          }
        });
      } else {
        $(".binding-block").append('<p class="tip error">' + "<%= t("blank_error") %>" + '</p>');
      }
      e.preventDefault();
    });
  </script>
<% end %>
