<div class="binding-block">
  <% if current_user.github_name.present? %>
    <p>
      Your github account
      <%= link_to current_user.github_name, "https://github.com/#{current_user.github_name}", class: "github-name" %>
      has been binded!
      <%= link_to "cancel binding", "/settings/update_binding", params: { name: nil }, :method => :post, class: "cancel" %>
    </p>
  <% else %>
    <%= form_tag '.', id: "run" do %>
      <%= text_field_tag :name, params[:name], placeholder: "Enter your github username", class: "username" %>
      <%= button_tag "bind github", class: "button primary" %>
    <% end %>
  <% end %>
</div>

<% content_for :template_js do %>
  <script>
    var github_user = function(username, callback) {
      $.getJSON('https://api.github.com/users/' + username + '?callback=?', callback);
    }
    var info, username;

    $("form#run").submit(function(e){
      username = $(".username").val().trim();
      if(username != '') {
        github_user(username, function(data){
          info = data.data;
          if(info.message !== "Not Found") {
            $.ajax({
              url: '/settings/update_binding',
              type: 'POST',
              data: { name: username },
              success: function() {
                $('.tip').hide();
                var link = '<a href="https://github.com/' + username + '">' + username + '</a>';
                var name = $('<p class="github-name">').html("Your github account " + link + " have been binded!");
                var tip = $('<p class="tip">').text("Please go to your home page checking info got from github.");
                $(".binding-block").append(name, tip);
                $("form#run").hide();
              }
            });
          } else {
            var tip = $('<p class="tip">').html('<b>' + username + "</b> is not a github username");
            $(".binding-block").append(name, tip);
          }
        });
      }
      e.preventDefault();
    });
  </script>
<% end %>
