<p>
  <%= t("transaction.your_total_beans") %>
  <%= @beans %>
  <%= t("transaction.bean") %>
</p>
<%= form_tag '/settings/update_bean', :method => :put do %>
  <%= label_tag t("transaction.charge_money") %>
  <%= text_field_tag :bean, params[:bean], placeholder: "e.g. 10", size: 20 %>
  <%= button_tag t("transaction.charge"), class: "minibutton green" %>
<% end %>
