<div class="container">
  <div class="order-container">
    <h3 class="order-title"> 订单信息 </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>名称</th> <!-- Subject -->
          <th>价格</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @event.title, "/event/#{@event.uid}" %></td>
          <td>￥<%= @event.price %></td>
        </tr>
      </tbody>
    </table>
    <div class="payment-form">
      <%= form_tag "/checkout" do %>
        <%= hidden_field_tag :uid, @event.uid %>
        <div>您需要支付<%= @event.price.to_i * 10 %> 个豆，<%= link_to "账户", "/settings/payment" %>剩余<%= current_user.bean || 0 %>个豆。
          <% if current_user.bean.to_i < @event.price.to_i * 10 %>
            目前余额不足，请先<%= link_to "充值", "/settings/payment" %>
            <div class="form-group">
              <%= submit_tag t('order.checkout'), :disabled => true, :class => "button green" %>
            </div>
          <% else %>
            <div class="form-group">
              <%= submit_tag t('order.checkout'), :class => "button green" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>