<!DOCTYPE html>
<html>
<head>
  <title>Ppweb</title>
  <link rel="shortcut icon" href="/favicon.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/flash_message' %>
  <%= render 'shared/header' %>

  <%= yield %>

  <%= render 'shared/footer' %>
  <%= yield :template_js %>
  <script>
    $(".close").click(function(){
      $(".flash").slideUp("slow");
    });
  </script>

</body>
</html>
