<!DOCTYPE html>
<html>
<head>
  <title>毛豆网 - 和最好的老师一对一学编程</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_for?(:content) ? yield(:content) : yield %>

  <%= yield :template_js %>

</body>
</html>
